@model List<CartItem>

<h2>Payment Page</h2>

<table>
    <tr>
        <th>Product ID</th>
        <th>Quantity</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProductId</td>
            <td>@item.Quantity</td>
        </tr>
    }
</table>

