@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var sessionId = Context.Request.Cookies["SessionId"];

}
<h1>This is the setting page with authorize </h1>
